<!DOCTYPE html>
<html lang=en>
<head>
  <% include ../partials/head %>
</head>
<body>
<div class="container-fluid">
  <p>
    routes:<br />
    <b>GET</b> / -> home<br />
    <b>GET</b> /:hash -> shortened url<br />
    <b>POST</b> / { "url": String } -> returns json object with original and shortened urls.<br />
    <b>GET</b> /list/ -> list of urls currently stored by app.
  </p>
</div>
</body>
</html>
