<!DOCTYPE html>
<html lang=en>
<head>
  <% include ../partials/head %>
</head>
<body>
<div class="container-fluid">
  <p>
    routes:<br />
      / -> home<br />
      /* -> shortened url<br />
      /new/url -> returns json object with original and shortened urls.<br />
      /list/ -> list off urls currently stored by app.
  </p>
</div>
</body>
</html>
