<!DOCTYPE html>
<html lang=en>
<head>
  <% include ../partials/head %>
</head>
<body>
<div class="container-fluid">
  <p>
    routes:<br />
      GET / -> home<br />
      GET /:id -> shortened url<br />
      POST / { "url": String } -> returns json object with original and shortened urls.<br />
      GET /list/ -> list of urls currently stored by app.
  </p>
</div>
</body>
</html>
